// Размеры

$header-height: 56px;
$footer-height: 56px;
$aside-width: 300px;
$padding-default: 15px;
$padding-sm: 5px;
$gap: 15px;

$button-width: 250px;
$button-width-sm: 150px;

// Цвета

// Z-index
