@use '@picocss/pico/scss/pico';
@use "@picocss/pico/scss/colors" as *;
@use "variables" as *;

body {
  font-family: monospace;
}

.trim {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
}

.page-wrap {
  background-color: var(--pico-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  //width: 100vw;
}

main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: $azure-500;
  height: $footer-height;
}
h1 {
  text-align: center;
  margin: $gap * 3 0;
  color: $grey-700;
}
header {
  background: $azure-500;
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 1.2rem;
    color: $grey-100;
    text-decoration-color: $grey-100;
    &:hover {
      cursor: pointer;
      color: white;
      text-decoration-color: white;
    }
  }
  h2 {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 0;
    color: white;
    margin-left: auto;
  }
}

.main-section-wrap {
  display: flex;
}
.content-wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
}

.search-form {
  width: 100%;
  margin: $gap auto;
  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    min-width: 250px;
    width: calc(100% - $button-width - $gap * 2);
  }
  &__submit {
    width: 250px;
  }
}

.ship-card {
  justify-content: space-between;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 10px $grey-100;
  &:hover {
    cursor: pointer;
    background-color: $slate-100;
  }
  &__column {
    pointer-events: none;
    flex: 1 1 50px;
    padding-right: $padding-default;
    &:nth-child(2) {
      flex: 2 1 50px;
    }
    &:last-child {
      flex: 0.5 1 50px;
    }
  }
  span {
    font-weight: bold;
  }
  p {
    margin-bottom: 0;
  }
}

.pagination {
  width: 500px;
  margin: $gap * 3 auto;

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__btn {
      width: 200px;
    }
  }
}
.ship-info {
  margin-top: $gap;
}
.ship-info-card {
  &__content {
    display: flex;
    flex-direction: column;
    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: $gap 0;
      p:first-child {
        font-weight: bold;
      }
      p {
        margin-bottom: 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $grey-50;
      }
    }
  }
}
